button{
    /* border: 1px solid transparent; */
    background-color: dodgerblue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    margin-right: 20px;
}
button:hover{
    outline: 1px solid dodgerblue;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    /* color: white; */
    /* padding: 10px 20px; */
    /* border-radius: 10px; */
}
.visited{
    background-color: yellowgreen;
    color: black;
}
.not-visited{
    background-color: tomato;
    color: black;
}